[submodule "EvmSmith/Demos/Add3/foundry/lib/forge-std"]
	path = EvmSmith/Demos/Add3/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "EvmSmith/Demos/Register/foundry/lib/forge-std"]
	path = EvmSmith/Demos/Register/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "EvmSmith/Demos/Weth/foundry/lib/forge-std"]
	path = EvmSmith/Demos/Weth/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "EVMYulLean"]
	path = EVMYulLean
	url = https://github.com/leonardoalt/EVMYulLean.git
[submodule "EvmSmith/Demos/ERC20/foundry/lib/forge-std"]
	path = EvmSmith/Demos/ERC20/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "EvmSmith/Demos/ERC20/foundry/lib/solady"]
	path = EvmSmith/Demos/ERC20/foundry/lib/solady
	url = https://github.com/Vectorized/solady.git
[submodule "EvmSmith/Demos/ERC20-Vyper/foundry/lib/forge-std"]
	path = EvmSmith/Demos/ERC20-Vyper/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "EvmSmith/Demos/ERC20-Vyper/foundry/lib/snekmate"]
	path = EvmSmith/Demos/ERC20-Vyper/foundry/lib/snekmate
	url = https://github.com/pcaversaccio/snekmate.git
[submodule "EvmSmith/Demos/Groth16/foundry/lib/forge-std"]
	path = EvmSmith/Demos/Groth16/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
